

.thumbnail {
    width: 100%;
}


.under-thumbnail {
    margin-top: 5px;
}

.video-preview {
    display: inline-block;
    width: 300px;
    margin-right: 15px;
    vertical-align: top;
}


.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-title {
    margin-top: 0px;
}

.video-title:hover,
.profile:hover,
.video-creator:hover,
.thumbnail:hover {
    cursor: pointer;
}

.profile {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.video-info {
    display: inline-block;
    width: 200px;
}

.profile-pic {
    width: 36px;
    border-radius: 50px;
}



.video-title {
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin-bottom: 9px;
    
}

.video-creator,
.video-stats {
    color: rgb(77, 77, 77);
    font-family: Arial;
    font-size: 11px;
    
}

.video-creator {
    margin-bottom: 5px;
}




.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 50px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width:999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.video-time {
    position: absolute;
    bottom: 8px;
    right: 3px;
}